/*
 * This CSS file contains stylesheets for HTML documentation files
 */

html {
	margin: 0;
	padding: 0;
}
body {
	max-width: 680px;
	padding: 10px 40px;
	font-family: Helvetica, Arial;
	margin: 0 auto;
	border-left: 2px dotted #888;
	border-right: 2px dotted #888;
	line-height: 1.7;
	font-size: 15px;
	font-size: .95em;
}
strong, b {
	font-weight: bold;
}
em, i, .caption {
	font-style: italic;
}
.figure {
	text-align: center;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.2em;
}
